<!-- Não precisa das tags padrões (ANgular ignora)-->
<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-3 login">Create Account</h1>

    <label for="inputName" class="sr-only">Name</label> <!-- sr-only Para deficiência visual-->
    <input type="text" id="inputName"
           name="name" placeholder="Name"
           class="form-control mb-2"
           [(ngModel)]="user.name"
           #name="ngModel"
           [ngClass]="{
           'is-invalid':name.invalid && (name.dirty || name.touched),
           'is-valid':name.valid && (name.dirty || name.touched)
           }"
           required /> <!-- user.name faz bind com user.name do TypeSript-->

    <div class="invalid-feedback mb-2" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">
        Name is required!
      </div>
    </div>

    <label for="inputLastName" class="sr-only">LastName</label> <!-- sr-only Para deficiência visual-->
    <input type="text" id="inputLastName"
           name="lastName" placeholder="Last Name"
           class="form-control mb-2"
           [(ngModel)]="user.lastName"
           #lastName="ngModel"
           [ngClass]="{
           'is-invalid':lastName.invalid && (lastName.dirty || lastName.touched),
           'is-valid':lastName.valid && (lastName.dirty || lastName.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <div *ngIf="lastName.errors.required">
        Last Name is required!
      </div>
    </div>

    <label for="inputEmail" class="sr-only">Email</label> <!-- sr-only Para deficiência visual-->
    <input type="email" id="inputEmail"
           name="email" placeholder="Email"
           class="form-control mb-2"
           [(ngModel)]="user.email"
           #email="ngModel"
           [ngClass]="{
           'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid':email.valid && (email.dirty || email.touched)
           }"
           email
           required /> <!-- email é uma Variável -- Restrições sao o email(formato) e required-->
    <!--[ngClass] adiciona classe nas classes já criadas-->

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email is required!
      </div>
      <div *ngIf="email.errors.email">
        Wrong email format!
      </div>

    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword"
           name="password" placeholder="Password"
           class="form-control mb-2"
           [(ngModel)]="user.password"
           #password="ngModel"
           [ngClass]="{
           'is-invalid':password.invalid && (password.dirty || password.touched),
           'is-valid':password.valid && (password.dirty || password.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        Password is required!
      </div>
    </div>

    <button class="btn btn-primary btn-block mb-2" type="submit" (click)="register()" [disabled]="spinner_active">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="spinner_active"></span>
      Register
    </button>
    <div>
      <a [routerLink]='["/enter"]'>
        Return
      </a>
    </div>

    <div class="alert alert-danger" *ngIf="message">
      {{message}}
    </div>

    <div class="alert alert-success" *ngIf="registerUser">
      Successfully registered user! <a class="alert-link" [routerLink]='["/enter"]'>Click here</a> to log in with your account.
    </div>

    <img src="../../../assets/img/buyphoto-login.jpg" />



  </form>

</div>

